!!!
%html
  %head
    %title iQuiz
    = stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true 
    = javascript_include_tag 'application', 'data-turbolinks-track' => true 
    = csrf_meta_tags 

  %body
    #container
      %p{class: 'notice'}
        = notice 
      %p{class: 'alert'}
        = alert 
      %h1 
        iQuiz
      - if current_user
        = render '/devise/sessions/destroy'
      - else 
        = link_to 'sign up', new_user_registration_path
        = link_to 'sign in', new_user_session_path

      = yield